/* box sizing fix*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* body should take up all the height available in the page */
html, body {
    height: 100%
}

body {
    margin: 0;
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 18px;
    margin: 32px;
}

.container {
    width: 50%;
    height: 50%;
    border-style: solid;
    border-color: black;
    flex: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}